html, body { 
  /* sets for color,font,and alignment of whole html*/ 
  background-color: #dedede;
  height: 100%;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 18px;
  color: #29524A;
}
header {
  /* creates header*/
  text-align: center;
  background-color: #414e4b;
  padding: 10px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
 
}
ul, ol, li {
 /* brings bullets & numbers to centered text */  
  list-style-position: inside;
}
hr{
  background-color: #06070E;
  height: 2px;
  
}
p{ 
  padding: 5px;
}
/* assigns link styles for included links */
a:link {color: #436b50;}
a:visited {color:#7c5f78;}
a:hover {color: #94A187;}
a:active {color:#60413e;}

/* assigns borders to elements h1,h2,h3*/ 
h1,h2,h3 {
  
  background-color: #94A187;
  color: #C5AFA0;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;


}


